In [ ]:
a = 100

In [2]:
## Declaring and assigning a value to a variable
age = 32
height = 5.8
name = "Bhavesh"
is_student = True

## Printing the value of a variable
print("age :", age)
print("height :", height)
print("name :", name)
print("is_student :", is_student)

age : 32
height : 5.8
name : Bhavesh
is_student : True

In [ ]:
## Naming convention for variables
## 1. Variable name should start with a letter or underscore
## 2. Variable name should not start with a number
## 3. Variable name should be descriptive
## 4. Variable name should not be a keyword
## 5. Variable name can contain letters, numbers and underscores

## Valid variable names
first_name = "Bhavesh"
last_name = "Gawade"

## Invalid variable names
#2age = 30
#first-name = "Bhavesh"
#first name = "Bhavesh"
#class = "Python"
#@age = 30
#age@ = 30

In [4]:
## Understanding variable types
## Python is dynamically typed language.
## Type of variable is determined at runtime.

age = 25
height = 6.1
name = "Bhavesh"
is_student = True

print("Type of age :", type(age)) ## <class 'int'>
print("Type of height :", type(height)) ## <class 'float'>
print("Type of name :", type(name)) ## <class 'str'>
print("Type of is_student :", type(is_student)) ## <class 'bool'>

Type of age : <class 'int'>
Type of height : <class 'float'>
Type of name : <class 'str'>
Type of is_student : <class 'bool'>

In [5]:
## Type checking and conversion

type(height)

float

In [7]:
age = 25
print(age,type(age)) ## <class 'int'>   
age_str = str(age)
print(age_str,type(age_str)) ## 25 <class 'str'>

25 <class 'int'>
25 <class 'str'>

In [8]:
age = '25'
print(type(int(age)))

<class 'int'>

In [9]:
name = 'my name is Bhavesh'
print(type(int(name)))

ValueError: invalid literal for int() with base 10: 'my name is Bhavesh'

In [13]:
height = 5.8
print(height,type(height)) ## <class 'float'>
height_int = int(height)
print(height_int,type(height_int)) ## 5 <class 'int'> 
height = float(height_int)
print(height,type(height)) ## 5.0 <class 'float'>

5.8 <class 'float'>
5 <class 'int'>
5.0 <class 'float'>

In [1]:
#Dynamic Typing
var = 10
print(var,type(var)) ## 10 <class 'int'>

var = "abc"
print(var,type(var))

var = 9.7
print(var,type(var))

10 <class 'int'>
abc <class 'str'>
9.7 <class 'float'>

In [ ]:
## input
age= input("Enter your age : ")
print("Your age is :",age, type(age))

Your age is : 23 <class 'int'>

In [5]:
## input
age= int(input("Enter your age : "))
print("Your age is :",age, type(age))

Your age is : 23 <class 'int'>

In [6]:
#simple calculator
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum of",num1,"and",num2,"is",sum)
print("Difference of",num1,"and",num2,"is",diff)
print("Product of",num1,"and",num2,"is",product)
print("Quotient of",num1,"and",num2,"is",quotient)

Sum of 56.0 and 10.0 is 66.0
Difference of 56.0 and 10.0 is 46.0
Product of 56.0 and 10.0 is 560.0
Quotient of 56.0 and 10.0 is 5.6