In [1]:
## Integers Examples
age = 39
type(age)

int

In [3]:
## Floats Examples
height = 5.9
type(height)

float

In [4]:
## Strings Examples
name = "Bhavesh"
type(name)

str

In [7]:
## Boolean Examples
is_student = True
is_student, type(is_student)

(True, bool)

In [6]:
is_student = bool()
is_student, type(is_student)

(False, bool)

In [8]:
a = 10
b = 10
a == b, type(a == b)

(True, bool)

In [9]:
## common errors
result = "Hello" + 10

TypeError: can only concatenate str (not "int") to str

In [10]:
result = "Hello" + str(10)
result

'Hello10'